APP_ENV=dev
DATABASE_DBNAME=oauth
DATABASE_USER=oauth
DATABASE_PASSWORD=oauth
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_DRIVER=pdo_pgsql
LOGGER_PATH=php://stdout
# PSR-3 Log levels
LOGGER_LEVEL=debug
# Base64 encoded 32 byte
ENCRYPTION_KEY=39KuUKyP8oLxv5QgiRiSwjvV31DhWICeLpmXcfU4z50=
ACCESS_TOKEN_TTL=PT5M
REFRESH_TOKEN_TTL=P1M
